# SECRETS (do NOT remove)
# this ensures my private API keys never go to GitHub
.env

# PYTHON JUNK 
# these are temporary files Python creates when it runs; they don't belong in a repo
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# DATA
# ignore the contents of these folders (don't upload massive CSV files)
data/raw/*
data/processed/*

# EDITOR SETTINGS 
# hides personal VS Code window settings
.vscode/

# SYSTEM FILES 
.DS_Store
Thumbs.db

# VIRTUAL ENVIRONMENT
.venv/
venv/
env/